# OS Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Caches
.rpt2_cache

# Symlinks
data
cache

# Dev/Build Artifacts
/coverage/
.nyc_output

# Local Env Files
.env

# Log Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Unconfigured Editors
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
