{
  "**/*.{ts,js,json,yml}": [
    "npm run lint:prettier"
  ],
  "*.md": [
    "npm run lint:prettier"
  ],
  "src/**/*.{ts,js}": [
    "npm run lint:eslint",
    "npm run lint:prettier",
    "npm run test:unit:file"
  ]
}
