{
  "**/*.{ts,js,json,md,yml}": [
    "prettier --write",
    "git add"
  ],
  "src/**/*.{ts,js}": [
    "tsc --noEmit",
    "eslint --fix",
    "semantic-release --no-ci --dry-run",
    "git add"
  ]
}
