{
  "branches": [
    "master",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm run build && npm run build:workflow"
      }
    ],
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json",
          "package-lock.json",
          "assets/info.plist",
          "dist/Alfred Workflow Todoist.alfredworkflow"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/Alfred Workflow Todoist.alfredworkflow",
            "label": "Alfred Workflow Todoist.alfredworkflow"
          }
        ]
      }
    ],
    "@eclass/semantic-release-sentry-releases",
    [
      "@semantic-release/exec",
      {
        "publishCmd": "./tools/sentry-release.sh ${nextRelease.version}"
      }
    ]
  ]
}
