<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfred-workflow-todoist</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>00D57379-6DC9-4291-BAE2-FBA5371ABA43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63E741AD-4AD6-4D29-A56A-D956D363C24D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E0DCF99-35B9-4513-B0D9-E6020C48ED1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAA14883-904F-4837-9B4B-96B2C68EB5FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27DA9968-06F7-4EE1-BE4B-E9E019851DCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B253BFA-8E99-4D9C-819A-36643869F629</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>329F88DE-5F91-459A-8CA3-9471677B3673</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B29E17F-D8CB-4FCC-B2F3-CFFC7E81064B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B253BFA-8E99-4D9C-819A-36643869F629</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>329F88DE-5F91-459A-8CA3-9471677B3673</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B29E17F-D8CB-4FCC-B2F3-CFFC7E81064B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00D57379-6DC9-4291-BAE2-FBA5371ABA43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ACF30E58-A2E8-4D69-8E6A-AF7038A63023</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45051E37-E864-459C-A12B-6FC80705321C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28725829-55E1-4CC7-9A6C-795EC2DC91E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4779F81C-8B78-452A-A546-C1695AF4E84A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAA14883-904F-4837-9B4B-96B2C68EB5FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63627FD3-3FF2-4279-95A2-F85FA35D6BDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45051E37-E864-459C-A12B-6FC80705321C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63E741AD-4AD6-4D29-A56A-D956D363C24D</key>
		<array/>
		<key>8AEEA89D-31CD-4742-ABF4-E4E84DBA7647</key>
		<array/>
		<key>8C6C6B42-B4E5-4077-841E-3D5378212F64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B29E17F-D8CB-4FCC-B2F3-CFFC7E81064B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AAA14883-904F-4837-9B4B-96B2C68EB5FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B29E17F-D8CB-4FCC-B2F3-CFFC7E81064B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACF30E58-A2E8-4D69-8E6A-AF7038A63023</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8FCA4F1-A656-4FF6-93DA-8037A7F06830</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B447C7A9-4CEC-457F-B711-65D07976721C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C6C6B42-B4E5-4077-841E-3D5378212F64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8FCA4F1-A656-4FF6-93DA-8037A7F06830</key>
		<array/>
		<key>FA3C3BCC-9F60-4F28-ACBF-FA4AAF3442DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4779F81C-8B78-452A-A546-C1695AF4E84A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Martien Oranje</string>
	<key>description</key>
	<string>An Alfred Todoist workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Workflow Todoist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Brewin' your coffee</string>
				<key>script</key>
				<string>#!/usr/bin/env bash

###############################################################################
# Author: M. Oranje
# Licence: MIT
###############################################################################

export PATH="$PATH:/usr/local/bin:/usr/bin"

./shell/t.configuration.sh "$alfred_workflow_data" "$alfred_workflow_cache"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Doing that now</string>
				<key>title</key>
				<string>Configure Workflow</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8AEEA89D-31CD-4742-ABF4-E4E84DBA7647</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>todo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>#!/usr/bin/env bash

###############################################################################
# Author: M. Oranje
# Licence: MIT
###############################################################################

export PATH="$PATH:/usr/local/bin:/usr/bin"

./shell/todo.parse.sh "$1" "$alfred_workflow_data"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>What to do?</string>
				<key>title</key>
				<string>Create new task</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3B253BFA-8E99-4D9C-819A-36643869F629</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env bash

###############################################################################
# Author: M. Oranje
# Licence: MIT
###############################################################################

export PATH="$PATH:/usr/local/bin:/usr/bin"

./shell/todo.add.sh "{query}" "$alfred_workflow_data"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>329F88DE-5F91-459A-8CA3-9471677B3673</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>27DA9968-06F7-4EE1-BE4B-E9E019851DCC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>todos</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Hold on, while I get your tasks</string>
				<key>script</key>
				<string>#!/usr/bin/env bash

###############################################################################
# Author: M. Oranje
# Licence: MIT
###############################################################################

export PATH="$PATH:/usr/local/bin:/usr/bin"

node js/index.js "getTasksCapped"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show upcoming todoist tasks</string>
				<key>title</key>
				<string>List your tasks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4779F81C-8B78-452A-A546-C1695AF4E84A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env bash

###############################################################################
# Author: M. Oranje
# Licence: MIT
###############################################################################

export PATH="$PATH:/usr/local/bin:/usr/bin"

# Imports
. shell/utilities.sh

node js/index.js "markDone" "$(json_find "$1" "id")"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AAA14883-904F-4837-9B4B-96B2C68EB5FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FA3C3BCC-9F60-4F28-ACBF-FA4AAF3442DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>todos</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Hold on, while I get your tasks</string>
				<key>script</key>
				<string>#!/usr/bin/env bash

###############################################################################
# Author: M. Oranje
# Licence: MIT
###############################################################################

export PATH="$PATH:/usr/local/bin:/usr/bin"

node js/index.js "searchTasks" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search upcoming todoist tasks</string>
				<key>title</key>
				<string>Search your tasks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0E0DCF99-35B9-4513-B0D9-E6020C48ED1E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Failure</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>63E741AD-4AD6-4D29-A56A-D956D363C24D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>00D57379-6DC9-4291-BAE2-FBA5371ABA43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>3B29E17F-D8CB-4FCC-B2F3-CFFC7E81064B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>t:</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Hold on...</string>
				<key>script</key>
				<string>#!/usr/bin/env bash

###############################################################################
# Author: M. Oranje
# Licence: MIT
###############################################################################

export PATH="$PATH:/usr/local/bin:/usr/bin"

# Imports
. shell/utilities.sh

./shell/t.setting-menu.sh {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select an option</string>
				<key>title</key>
				<string>Configure Workflow</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B447C7A9-4CEC-457F-B711-65D07976721C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env bash

###############################################################################
# Author: M. Oranje
# Licence: MIT
###############################################################################

export PATH="$PATH:/usr/local/bin:/usr/bin"

# Imports
. shell/utilities.sh

# Variables
file=$(json_find "$1" "file")
call=$(json_find "$1" "call")
argument=$(json_find "$1" "argument")
match=$(json_find "$1" "match")
success=$(json_find "$1" "success")
error=$(json_find "$1" "error")

./shell/$file "$call" "$argument" "$match" "$success" "$error" "$alfred_workflow_data"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8C6C6B42-B4E5-4077-841E-3D5378212F64</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D8FCA4F1-A656-4FF6-93DA-8037A7F06830</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^((?!Error)[\s\S])*$</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>ACF30E58-A2E8-4D69-8E6A-AF7038A63023</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/moranje/alfred-workflow-todoist/raw/master/dist/Alfred%20Workflow%20Todoist.alfredworkflow</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>28725829-55E1-4CC7-9A6C-795EC2DC91E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>t:update</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching version information</string>
				<key>script</key>
				<string>#!/usr/bin/env bash

###############################################################################
# Author: M. Oranje
# Licence: MIT
###############################################################################

./shell/t.update.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Who knows...</string>
				<key>title</key>
				<string>Check for workflow updates</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63627FD3-3FF2-4279-95A2-F85FA35D6BDA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>update_workflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>45051E37-E864-459C-A12B-6FC80705321C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/moranje/alfred-workflow-todoist/blob/master/README.md</string>
	<key>uidata</key>
	<dict>
		<key>00D57379-6DC9-4291-BAE2-FBA5371ABA43</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>0E0DCF99-35B9-4513-B0D9-E6020C48ED1E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Search todo's</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>27DA9968-06F7-4EE1-BE4B-E9E019851DCC</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>28725829-55E1-4CC7-9A6C-795EC2DC91E7</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>329F88DE-5F91-459A-8CA3-9471677B3673</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Add todo</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>3B253BFA-8E99-4D9C-819A-36643869F629</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Parse todo</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>3B29E17F-D8CB-4FCC-B2F3-CFFC7E81064B</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>45051E37-E864-459C-A12B-6FC80705321C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>4779F81C-8B78-452A-A546-C1695AF4E84A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>List todo's</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>63627FD3-3FF2-4279-95A2-F85FA35D6BDA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Update</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>63E741AD-4AD6-4D29-A56A-D956D363C24D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>8AEEA89D-31CD-4742-ABF4-E4E84DBA7647</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Alfred Workflow Configuration (runs silently)</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>8C6C6B42-B4E5-4077-841E-3D5378212F64</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>AAA14883-904F-4837-9B4B-96B2C68EB5FA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Mark todo done</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>ACF30E58-A2E8-4D69-8E6A-AF7038A63023</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>B447C7A9-4CEC-457F-B711-65D07976721C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Configure</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>D8FCA4F1-A656-4FF6-93DA-8037A7F06830</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>FA3C3BCC-9F60-4F28-ACBF-FA4AAF3442DA</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>3.1.6</string>
	<key>webaddress</key>
	<string>https://github.com/moranje/alfred-workflow-todoist</string>
</dict>
</plist>
