name: Build

on:
  push:
    branches:
      - master
      - beta
      - alpha
  pull_request:
    branches:
      - master
      - beta
      - alpha

env:
  NODE_ENV: production

jobs:
  build:
    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [10, 12, 13]

    steps:
      - name: Checkout repo (latest commit)
        uses: actions/checkout@v2

      - name: Setup and cache Node.js
        uses: actions/cache@v1
        env:
          cache-name: cache-node-modules
        with:
          node-version: ${{ matrix.node-version }}
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}

      - name: Run test suite
        run: npm run test
        env:
          alfred_workflow_cache: ${{ secrets.alfred_workflow_cache }}
          alfred_workflow_data: ${{ secrets.alfred_workflow_data }}

      - name: Upload coverage to Codecov
        if: success()
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }} #required

      - name: Create release
        if: success()
        run: npm run semantic-release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
